################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyPulumiComponents/bin/Debug/net9.0
/MyPulumiComponents/obj
/MyComponents/bin
/MyComponents/obj
/MyPulumiStack/obj/Debug/net9.0
/MyPulumiStack/obj
/dummy
